[2019-12-16 21:03] AlanAboudib opened #1 "Keep track of all Tokenizers on remote workers"
Here is the code to reproduce the issue. By reading and running the code as you go, you should be able to understand the issue:

[code]

The reason for this is that the language model keeps track only of the last created tokenizer. It forgets about the previously created tokenizers.

In order to fix this issue, the language model should keep track of all the previously created tokenizers and creat

[2020-01-21 00:12] AlanAboudib opened #3 "Enable worker-side download of language models"
The current version of SyferText works with `VirtualWorker`s, which reside on the same machine as the `hook.local_worker`.

This means that once the language model is downloaded after calling:

[code]

The language model is downloaded to the home directory. The `Vocab` and `Vector` objects would be able to access that language model on the home directory.

However, when using real 'remote' workers

[2020-02-04 19:01] MarcioPorto commented on #1
@AlanAboudib I'll take this issue.

[2020-02-05 23:15] dzlab opened #4 "Add more language models"
Currently only `en_core_web_lg` is availble to load and it has a size of 860MB which are downloaded the first time we do:
[code]
Also, the models are hosted on github https://github.com/AlanAboudib/syfertext_en_core_web_lg/ may be this has to be hosted somewhere else

[2020-02-06 18:31] dzlab opened #5 "ValueError: not enough values to unpack (expected 6, got 5) when calling nlp(string_ptr)"
I cannot run tutorial 1 because of `ValueError: not enough values to unpack (expected 6, got 5)` when calling `nlp(string_ptr)`.
Here is stacktrace
[code]

[2020-02-06 18:32] dzlab opened #6 "Add CI integration"
Add CI integration to be able to capture issues like https://github.com/OpenMined/SyferText/issues/5

[2020-02-06 22:37] AlanAboudib commented on #5
Thank you @dzlab for signaling this issue. The problem was in the [\_\_init\_\_\.py](https://github.com/OpenMined/SyferText/blob/98abfc1e94f50e6329333e0acd4994e1e546b117/syfertext/__init__.py#L56-L64). Choosing the index to insert `tokenizer` and `DocPointer` detailers was buggy. you can see the new code [here](https://github.com/OpenMined/SyferText/blob/98abfc1e94f50e6329333e0acd4994e1e546b117/sy

[2020-02-06 22:39] #5 closed

[2020-02-12 21:21] AlanAboudib opened #8 "Create a document vector as the average of all its token vectors"
Currently, `DocPointer` and `Doc` classes each have a method called `getEncryptedVector`:

https://github.com/OpenMined/SyferText/blob/98abfc1e94f50e6329333e0acd4994e1e546b117/syfertext/pointers/doc_pointer.py#L31

Those methods should be replaced with `get_vector` that should return an encrypted version of the document vector, which is an average of all of its token vectors

[2020-02-14 01:51] dzlab opened #10 "Add pre-commit hooks"
Add pre-commit hooks like a linter to standardize code: indentation, comments, etc.

[2020-02-14 18:42] AlanAboudib commented on #10
@dzlab Definitely , flake and black precommit hooks are to be added

[2020-02-15 00:46] AlanAboudib commented on #6
I will take care of this @dzlab

[2020-02-15 00:48] dzlab commented on #8
working on this issue

[2020-02-15 01:09] AlanAboudib commented on #4
I raised the priority of this issue in the project todos. A lightweight model is important to have for CI.

[2020-02-15 02:09] AlanAboudib commented on #6
I setup CI with github workflows:
https://github.com/OpenMined/SyferText/actions

Tests should be written now

[2020-02-15 02:09] #6 closed

[2020-02-15 02:29] AlanAboudib commented on #10
@dzlab I will take this one

[2020-02-16 21:42] AlanAboudib commented on #4
We should add 'en_core_web_sm' https://spacy.io/models/en

This should be the model to use for tests in CI

[2020-02-16 21:59] AlanAboudib opened #11 "Endow the Tokenizer with prefix, suffix, infix and exception search rule"
The current tokenizer is so simplistic. It only performs space-based splitting.

Processing real datasets requires more sophisticated tokenization.

Thus, prefix, suffix and infix matching rules  and well as the ability to detect exceptions should be added to the tokenizer.

Useful references:

https://spacy.io/usage/linguistic-features#tokenization

https://spacy.io/api/tokenizer

[2020-02-16 22:40] dzlab commented on #4
the sm model is 11Mb which is still big for a CI, for now I think it is OK to use but later maybe it will be worth training a super small model https://spacy.io/usage/training

[2020-02-17 13:06] AlanAboudib commented on #4
@dzlab 11Mb is actually ok for CI given that it is downloaded only once and reused. However, it all depends on what we are going to test. It would also be a good idea to create a dummy language model that contains no real vocabulary.

[2020-02-17 23:00] #1 closed

[2020-02-18 21:44] dzlab opened #12 "Add PR checklist"
Add a checklist for PRs that authors have to use and facilitate reviews.

[2020-02-21 01:32] dzlab commented on #11
Any reason why do we need to reimplement tokenizers, couldn't we just rely on whatever is available on the worker (spacy, ntlk, etc.)??

[2020-02-21 09:25] #8 closed

[2020-02-21 10:18] AlanAboudib opened #14 "Error when requesting a vector for out-of-vocabulary tokens"
In the current version of SyferText, if we tokenize a string containing and out-of-vocabulary token, an exception is raised. Try the following:

[code]

This code shoudl raise a `KeyError`.

Instead, it should return a vector of only zeros.

[2020-02-21 17:55] dzlab commented on #14
I will work on this one

[2020-02-21 17:59] AlanAboudib commented on #14
It's yours @dzlab

[2020-02-23 14:39] glitch401 commented on #3
Can I work on this ?

[2020-02-24 13:46] AlanAboudib commented on #3
Go ahead @glitch401

[2020-02-25 00:30] #14 closed

[2020-02-25 19:16] dzlab opened #16 "[GSoC] Project: Transfer Learning"
Transfer learning help in transferring knowledge from a source domain to a different target domain. In NLP, Transfer learning become ubiquitous as a way of reusing pre-trained language models and fine tuning them to a target task like Text Classification or Named Entity Recognition.
The goal of this project is to apply Transfer Learning to a private dataset using SyferText.

An example would be to

[2020-02-26 23:44] carlodavid012 commented on #16
I'd like to contribute to this

[2020-02-27 08:45] AlanAboudib opened #19 "Create a vector() method as a property in the Doc class"
In the `Doc` class, the method `get_encrypted_vector()` first computes the plain document vector as an average of in-vocabulary tokens' vectors. It then encrypts this vector using SMPC and returns it.

I suggest to take out the part that  the plain average vector and separate it as a standalone method called `vector` that also acts like a property, by annotating it with `@property`.

This method i

[2020-02-27 14:24] AntonioLopardo commented on #16
I would also be very interested

[2020-02-28 14:54] #12 closed

[2020-03-04 18:51] AshutoshFreak commented on #16
Hello,
I am Ashutosh Sahu from IIT Bhilai and am very much interested in Sequence Models and have some experience with projects in Transfer Learning like Neural Style Transfer, etc. Though I don't have any experience with PyTorch, but it can't be that hard (even if it is, I can do it!) to move from a Tensorflow background.
I would love to contribute to this project for betterment of both the commu

[2020-03-04 21:37] dzlab commented on #16
@AshutoshFreak this is cool, happy to see you interested in this. Yes I'm the mentor, I've updated the project description, the best way is to have a GitHub repo for notebooks/code/markdown documents.

[2020-03-05 00:07] AlanAboudib opened #22 "[GSoC] Project: Building a Biomedical Language Model from Multiple Private Datasets"
**Title:** Building a language model from private biomedical datasets using SyferText
**Mentor:** Alan Aboudib
**Level:** Intermediate

*Introduction*
------------------

SyferText is a NLP library that is being built with the aim of preserving dataset and model's privacy. In order to enforce these constraints, SyferText leverages PySyft to provide the ability to perform federated encrypted traini

[2020-03-06 13:52] shashank-m commented on #4
Hey can I start working on this issue?

[2020-03-06 20:39] MarcioPorto opened #23 "[GSoC] Project: Federated Phenotyping and Patient Representation Learning"
Title: Federated Phenotyping and Patient Representation Learning Using SyferText
Mentor: [Marcio Porto](https://github.com/MarcioPorto)
Level: Intermediate

## Description

In the clinical setting, the goal of electronic phenotyping is to identify whether someone might have a given medical condition based on their medical record. An enormous amount of medical data is stored as unstructured text, m

[2020-03-07 13:04] AlanAboudib commented on #4
@shashank-m sure you can

[2020-03-07 17:23] bicycleman15 commented on #23
Looks quite interesting. I would like to work on this. @MarcioPorto

[2020-03-08 22:08] ratmcu commented on #22
Hello Alan,
I am finishing my Master Thesis in Privacy sensitive data and I created an end to end automation of training an NER model, from dataset creation to training. My last milestone is remote execution of BERT model I centrally trained using pysyft. And I have almost finished it. I would like to extend my experience through working in this SyferText baser LM.

[2020-03-09 09:29] arbazkhan971 commented on #16
hey I am interested in this project and I know Transfer learning in NLP
and I have used BERT, RoBERTa, XLNet, XLM, DistilBERT IN DIFFERENT KAGGLE competitions
and used them in my different projects
Let me know how to contribute I am excited to work in this problem

[2020-03-09 09:31] arbazkhan971 commented on #16
I am very comfortable with huggingface transformer

[2020-03-09 18:38] dzlab commented on #16
@arbazkhan971  can you join the openmined slack channel of this project #gsoc_nlp_transfer_learning

[2020-03-10 05:20] Nilanshrajput commented on #11
Hi, I want to work on this issue @AlanAboudib . And I think(with only little knowledge of SyferText and PySyft) we need to reimplement the tokenizers as we will be sending our tokenizer to worker for encrypted pre-processing of text and prepare it for encrypted training.

[2020-03-10 09:52] AlanAboudib commented on #11
Go ahead @Nilanshrajput. Notice that there is no such thing as encrypted pre-processing. Pre-processing is done directly on plaintext. It is just done blindly meaning that we do not have the right to see the text that is being preprocessed. We only get the encrypted token representation whenever preprocessing is finished

[2020-03-10 09:53] AlanAboudib commented on #11
The reason we do not use spacy, nltk, tokenizers directly is because SyferText should not require the installation of another NLP library. It should be as standalone as possible

[2020-03-11 03:06] tsingh2k15 commented on #19
@AlanAboudib  can I take this up?

[2020-03-11 10:24] AlanAboudib commented on #19
@tsingh2k15 Thank you for interest. There is actually already a PR #21 to fix this issue.

I will soon add a bunch of issues that you will be able to work on

[2020-03-11 20:30] praveenjoshi01 commented on #22
Hello Alan,

The project sounds really interesting. One more point that I think which can be aligned to the project is - We can try to build one domain-based (healthcare at the moment) knowledgebase (ontology) based on the data publically available which can help us to put more importance to certain aspects of data while making the Language model. I think it really helps any classification or iden

[2020-03-13 17:20] MarcioPorto opened #26 "Convert docstrings into documentation"
We've done a great job so far of documenting classes and functions. The next step is to convert this into documentation that can be hosted on something like [Read the Docs](https://readthedocs.org/).

[2020-03-13 17:44] AlanAboudib commented on #26
Cannot agree more. Thank you for the issue @MarcioPorto

[2020-03-13 17:52] MarcioPorto commented on #26
Np @AlanAboudib! I have actually done this before, so I can work on it 👍

[2020-03-13 17:54] AlanAboudib opened #27 "Introduce the `StringStore` class and remove the 'text' attribute from the Doc class"
(Please read the whole conversation to understand the issue )
The document text should not be explicitly stored in `Doc` object. This is a waste of memory. If needed, a document text is to be reconstructed from the individual `Token` objects.

[2020-03-13 18:38] datason commented on #27
Alan, please, I want to take this one

[2020-03-13 18:49] AlanAboudib commented on #27
Go ahead @datason

[2020-03-14 06:54] Nilanshrajput commented on #27
But tokens are note saved anywhere , only token Metadata is stored, and tokens are created on the go from the text using the metadata for each token, I don't understand how it is memory wastage?

[2020-03-14 06:56] Nilanshrajput commented on #27
else storing all the tokens would be almost equivalent to storing text, we might probably get away with removing meta data part.

[2020-03-14 08:55] AlanAboudib commented on #27
@Nilanshrajput The `text` property I am talking about is that of `Doc` not of `Token`. In `TokenMeta` we only store pointers to the beginning and the end position of the token in the original text.

In the case that the user stores the returned `Doc` objects, this will be an additional waste of memory, since each such object will have a `text` property storing the original text.

I agree that toke

[2020-03-14 08:55] Shashankjain12 commented on #27
So @AlanAboudib what you want is to remove the text argument from doc class and then adding that to the token class and redefining it's method over there?

[2020-03-14 14:29] sachin-101 commented on #4
@AlanAboudib I would like to work on this issue. I will go ahead with adding the functionality to load the above-mentioned model of size 11Mb.

[2020-03-14 15:21] bicycleman15 commented on #26
Maybe I can help with this @MarcioPorto if you don't mind ?

[2020-03-14 15:33] AlanAboudib commented on #27
@Shashankjain12 @datason the plaintext should be stored neither in `Token` not in `TokenMeta` objects.

Actually, a new class called `StringStore` like in spaCy should be created. mappings between plaintext words and hashes should be stored there.

If a new token is encountered by the tokenizer, which has no match in `StringStore` it should be added along with a hash using`utils.hash_string()`.

T

[2020-03-14 15:34] AlanAboudib commented on #27
We should be doing all of this because storing string objects spends way more memory than storing 8-byte corresponding hashes that refer to that string in the `StringStore`

[2020-03-14 15:42] AlanAboudib commented on #4
Hi Guys, @shashank-m @sachin-101  I prefer you work on adding two models:

en_core_sci_md
en_core_sci_lg

From here

https://allenai.github.io/scispacy/

Please contact me on slack to discuss this further

[2020-03-14 20:44] AlanAboudib opened #30 "Add support for adding custom attributes to Doc objects"
SyferText allows to assign custom attributes to `Token` objects. Here is how to do it:

[code]

We need to be able to do the same for Doc objects

[2020-03-14 22:14] bicycleman15 commented on #30
I can work on this. :)

[2020-03-14 22:18] AlanAboudib commented on #30
Go ahead @bicycleman15

[2020-03-15 04:50] bicycleman15 commented on #30
@AlanAboudib Could you review my pull request #32

[2020-03-15 08:03] Nilanshrajput commented on #22
Hello Alan,
SyferText looks very interesting, and making language for private medical data sounds really good.
And I would love to contribute in building new features for SyferText along the way.

[2020-03-15 16:04] #30 closed

[2020-03-15 19:37] MarcioPorto commented on #26
Sure @bicycleman15! 🚀

[2020-03-16 08:32] bicycleman15 commented on #27
Can I take this issue ?
@datason are you still working on this ?

[2020-03-16 09:55] sachin-101 commented on #4
Ok. On it.

[2020-03-16 11:57] sukannyapurkayastha commented on #16
Hi, I am Sukannya Purkayastha, an MS (Research) student at IIT Kharagpur. I have prior experience in Machine learning and Deep Learning and have also co-authored papers at International machine learning venues. I have worked with various deep learning models such as Transformers, Seq2Seq Models nad also on fine-tuning language models such as BERT, etc. I would like to contribute to this project.

[2020-03-16 17:55] dzlab opened #34 "Create a unicode tokenizer"
Current tokenizer splits on whitespace this can be useful in some cases but usually we want to also split on punctuation and other unicode characters (depending on the language).
We need the following tasks to be done:
* Implement a unicode tokenizer (e.g. on white space and punctuation)
* Add tests with at least two languages of different punctuation (e.g. English and Arabic)

[2020-03-16 17:58] AntonioLopardo commented on #34
I can work on this

[2020-03-16 18:03] AlanAboudib commented on #34
Hello @dzlab this is a duplicate issue with #11. There is a PR for it that I am reviewing here #25

[2020-03-17 08:46] sachin-101 commented on #3
@AlanAboudib Downloading language models on remote workers may not be a good idea as they are quite huge and the remote workers might be edge devices with minimal storage. I suggest, that we can instead let the remote worker access the language model on our local machine. Correct me if I am wrong.

[2020-03-17 10:46] datason commented on #27
@bicycleman15 yep,
I am still working.

[2020-03-17 10:50] datason commented on #27
@AlanAboudib
Do I understand correctly that using `StringStore` will help to store any string only once?
For example, if we have two different `Doc` objects, with same string "hello", we will store "hello" only once.

[2020-03-17 11:08] #34 closed

[2020-03-17 13:55] AlanAboudib commented on #22
Hi @Nilanshrajput , @praveenjoshi01 and @ratmcu if you are interested in applying to this project, you need to create a proposal and submit it on the GSoC website.

Notice that if this project is not selected for GSoC, or if it was retained but you were not selected, this does not mean that you cannot work on it. Working on a different dataset, subproblem would be always welcome

[2020-03-17 16:39] praveenjoshi01 commented on #22
@AlanAboudib - I think it will be great if we can have a skype meeting and where we can discuss the proposal and direction of the project.

[2020-03-17 22:22] dzlab commented on #34
@AlanAboudib  I see. but just. make sure in the PR we can provide the option to split on whitespaces only vs splitting on whitespaces and punctuation.

[2020-03-17 22:23] dzlab commented on #16
@sukannyapurkayastha please join the slack channel #gsoc_nlp_transfer_learning

[2020-03-17 22:29] dzlab commented on #4
@AlanAboudib it is a bad design to download models from github like this: https://github.com/AlanAboudib/syfertext_en_core_web_lg/blob/master/key2row?raw=true
We should build a functionality to download directely from spacy, e.g.  [with pip](https://spacy.io/usage/models#download-pip) or [via releases](https://spacy.io/usage/models#download-manual). We can add this step to the `setup.py` but may b

[2020-03-17 23:18] AlanAboudib commented on #4
@dzlab That is true. This is a temporary solution. For the moment SyferText language models are 'peeled down' from spaCy's language models. They are not directly compatible. The files we use are not exactly the same as the ones stored in spaCy's language model. For instance, for the 'en_core_web_sm' the vectors are not explicitly provided.

spaCy language models are python modules that are package

[2020-03-18 00:21] AlanAboudib commented on #34
@dzlab The tokenizer will be able to separate any punctuation mark into a separate `Token` object. It is non-destructive tokenization. So it will still be whitespace-based. Once this is done, we should add a sentenciser pipe component that can recognize sentences' boudaries based on the Tokenizer's output.

[2020-03-18 00:40] Nilanshrajput commented on #27
@datason
Possibly There could be a Hashmap like data struct, where key will be hash of strings, and we could only store the key as token data, to restore the original the same hashmap will be called. Some thing in this line.

[2020-03-18 04:55] sachin-101 commented on #22
Hi @AlanAboudib, I would love to contribute to this project and help build SyferText.

Excited for long-term contribution.

[2020-03-18 04:56] sachin-101 commented on #22
@AlanAboudib @praveenjoshi01 We can have a slack channel for discussion.

[2020-03-18 16:21] AlanAboudib commented on #22
I created the channel #gsoc_syfertext_lang_model

[2020-03-18 16:30] AlanAboudib commented on #3
Hi @sachin-101 so in case the dataset is private, we need  the language model (especially the word embedding lookup table) to live in the same worker as the dataset. So that the plain text tokens are not revealed in the vector lookup process.

If the remote machine has limited memory, we can download lighter language models, or create language models with vectors that have lower dimensions, or fig

[2020-03-18 16:31] sachin-101 commented on #3
@AlanAboudib I would like to help with this issue. Any advice on how I should proceed with the implementation ? Will I need to extend pysyft VirtualWorkers to have a load() / download() functionality ?

[2020-03-19 06:33] Nilanshrajput commented on #27
@AlanAboudib
As I understand, in Spacy a shared vocab is initiated after creating nlp(language) object, and all the different docs we create share the same vocab, and that vocab holds the string store. let me know if it's the right direction to go.

[2020-03-20 20:28] arbazkhan971 commented on #19
is this issue still open?
I want to contrbute to good first issues but there isn't anymore left

[2020-03-20 22:18] Infernolia commented on #16
Hello! I am Aboli Marathe from India. I have joined the slack channel and would like to contribute to this project!

[2020-03-21 19:42] dzlab commented on #16
@Infernolia did you introduce yourself in the channel? I will reply back and answer any question.

[2020-03-21 20:42] Infernolia commented on #16
Yes, I shall. Thanks!

[2020-03-23 06:42] sachin-101 opened #41 "Broken slack channel link"
Broken slack channel link in Readme file.

[2020-03-23 08:01] sachin-101 commented on #10
@AlanAboudib @dzlab Please have a look.

[2020-03-23 12:09] #10 closed

[2020-03-23 12:09] #41 closed

[2020-03-23 13:02] AlanAboudib opened #43 "Enable custom-attribute-based token vector exclusion in computing Doc vector"
When we query the `Doc` vector, we should be able to do something like

[code]

This means that all tokens inside the Doc that has:

[code]

Should not be used when the `Doc`'s average vector is computed

This allows us to use the `SimpleTagger` to tag some tokens (such as stop words, custom words that we think irrelevant) to exclude them from the `Doc` vector

[2020-03-23 13:07] AntonioLopardo commented on #43
@AlanAboudib I would like to work on this

[2020-03-23 13:09] Nilanshrajput commented on #43
@AlanAboudib I will start working on this.

[2020-03-23 13:21] AlanAboudib commented on #43
Go ahead @AntonioLopardo

[2020-03-23 15:01] NileshPant1999 opened #45 "Creating a example of real life dataset using syfertext"
I would like to add an example which uses SyferText on real life dataset. Can I start working on it.

[2020-03-23 15:13] AlanAboudib commented on #45
Sure @NileshPant1999, You can discuss it with me on slack. However, I will close thise thread since it is not considered as issue. However, feel free whenever you would like to create a PR :)

[2020-03-23 15:13] #45 closed

[2020-03-23 16:29] NileshPant1999 commented on #43
Do I need to create a get_vector method in vector function

[2020-03-26 12:38] bicycleman15 opened #51 "problem downloading models"
Consider the scenario I'm downloading the language model and my internet stops, or my the program gets interupted. So the next time I load the model , SyferText thinks its already downloaded but its not and throws an error.
Is there any way around it ? or do we have to manually delete the model files from `SyferText` folder in the `home` directory to fix it.
Keep a md5 for each file maybe ? Just c

[2020-03-26 13:00] sachin-101 commented on #51
Yeah! Had encountered this many times while working on enabling remote download of language models. Deleted the folders manually every time.

[2020-03-27 15:02] RishabhBhatnagar opened #54 "Installation Raises Error"
Steps I've followed
### Without Environment
[code]
### With Environment
[code]
I ran into the following error.
[code]

This error remains the same on all python3.x versions. [Tried 3.5, 3.6, 3.8]

[2020-03-27 15:12] arbazkhan971 opened #55 "Installation Error"
#### installation steps:
python3 -m pip install syfertext

#### Error occured:
Inside python3 interpreter

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/syfertext-0.1.0.dev1-py3.6.egg/syfertext/__init__.py", line 1, in <module>
    from .language import Language
  File "/usr/local/lib/python3.6/dist-packages/syfertext-0.1.0.

[2020-03-27 15:18] Syzygianinfern0 commented on #55
Please use the  [Installation Instructions](https://github.com/OpenMined/SyferText#installation)
SyferText is not currently available as a pip install.

[2020-03-27 15:21] arbazkhan971 commented on #55
okay

[2020-03-27 15:26] AlanAboudib commented on #54
Thank you for signaling @RishabhBhatnagar. I am looking into this issue.

[2020-03-27 15:27] AlanAboudib commented on #55
Here is how to install SyferText

[code]

[2020-03-27 15:31] AlanAboudib commented on #54
Problem should be solved now, can you confirm please @RishabhBhatnagar ?

[2020-03-27 15:32] #55 closed

[2020-03-27 15:50] #43 closed

[2020-03-27 16:15] RishabhBhatnagar commented on #54
Yes, the issue is resolved.

[2020-03-27 16:15] #54 closed

[2020-03-28 15:42] AlanAboudib commented on #19
@arbazkhan971 , this issue was actually solved in #37

[2020-03-28 15:42] #19 closed

[2020-03-30 11:12] #27 closed

[2020-03-31 05:13] AlexKer opened #57 "[GSoC] Project: Meta-Learning for Risk Prediction with Limited Patient Electronic Health Records Using PySyft and SyferText"
**Title: Meta-Learning for Risk Prediction with Limited Patient Electronic Health Records Using PySyft and SyferText (original project)**
**Student: Alex Ker**
**Mentor: Alan Aboudib, Márcio Porto**

### Background and Problem
In recent years, as the Electronics Health Records (EHR) are becoming more readily available, healthcare data can be leveraged to gain insights to improve the quality of car

[2020-04-01 15:15] Nilanshrajput opened #59 "StringStore is loading entire Vocab that model knows."
We can add string in store dynamically as we come encounter them in data instead of loading the entire vocab at initialization, it will save memory and will be more efficient as well!

[2020-04-01 16:14] bicycleman15 commented on #59
Can I work on this issue ? : ) @AlanAboudib @Nilanshrajput

[2020-04-01 16:28] Nilanshrajput commented on #59
Yup go for it, probably just need to remove just one line for load_strings() call in vocab.py .

[2020-04-01 16:30] Nilanshrajput commented on #59
add some test to check  the size of stringStore after creating doc.

[2020-04-01 17:37] bicycleman15 commented on #59
Yeah I saw that. Thanks anyway.

[2020-04-02 15:37] bicycleman15 opened #62 "create a span like object for doc"
I and @sachin-101 were thinking of implementing a span like object that will give us slice of a doc object.
kind of like
[code]
We will collaborate on this feature. Just wanted to give a heads up.

[2020-04-02 16:00] AlanAboudib commented on #62
Great, that is a good idea that is on the TODO in the project page. Go ahead go!

[2020-04-03 14:33] #51 closed

[2020-04-07 14:27] Nilanshrajput opened #68 "Update Vocab class"
Currently we add/access string in string store by directly accessing string store of vocab, instead __ getitem__() should be defined to any operations before adding a string.
__ getitem __()will return a Lexeme object for the given text.
Also add extra utility functions like
 __ iter__()  to iterate over currently stored strings,
 __ contains__(),
get_vector(string_or_orth),
has_vector etc somethi

[2020-04-07 14:28] Nilanshrajput commented on #68
@AlanAboudib  I am working on this, let me know if there are some caveats related to this issue.

[2020-04-07 14:57] Syzygianinfern0 commented on #68
Considering methods like these it would be good to include [different word distances](https://towardsdatascience.com/word-distance-between-word-embeddings-cc3e9cf1d632) between such vectors. Might be good as a follow-up PR.

[2020-04-07 15:41] Nilanshrajput commented on #68
@Syzygianinfern0  there is a PR [#50](https://github.com/OpenMined/SyferText/pull/50) for similarity from @bicycleman15 . but for adding different algorithm to calculate that, I think it might be an overkill, we can discuss it later.

[2020-04-08 12:12] sachin-101 opened #69 "Update SimpleTokenizer to operate on DocPointer ?"
where the Doc object resides. If False, the pipe will operate locally,
                either on a Doc object directly, or on a DocPointer returned by the previous
                component in the pipeline. Defaults to False.

SimpleTokenizer needs to be updated to operate on a DocPointer.

If this functionality is not required, we could at least go ahead and raise an `Object Not Collocated except

[2020-04-08 13:17] bicycleman15 commented on #69
There can be a case when we want to iterate on a remote doc when the data is not private. IMO we can leave it as `DocPointer Not Iterable` for now.
Instead we can add a functionality to iterate on the doc pointer when we are given that the remote data is not private.
I can work on adding this functionality or we can collab if you want ?

[2020-04-08 13:18] bicycleman15 commented on #69
What do you think @AlanAboudib ?

[2020-04-08 16:10] AlanAboudib commented on #69
@sachin-101 @bicycleman15

In the case where the doc is private, the `SimpleTagger` should be simply sent to the remote worker. This is faster. The `SimpleTagger` is not a private object, sending it to the remote worker is not a problem.

I envisaged `remote = False` in the case were you have a model, like a deep learning model for instance, that you cannot send to the remote worker, because it is

[2020-04-08 16:43] sachin-101 commented on #69
Thanks for the clarification @AlanAboudib. I will add the exception and send a PR.

[2020-04-11 21:57] #11 closed

[2020-04-13 05:30] Nilanshrajput opened #70 "Models not downloading"
https://github.com/AlanAboudib/syfertext_en_core_web_lg/
Model paths in the Repo are changed.

[2020-04-13 08:19] sachin-101 commented on #70
I guess alan is working on supporting the download of language models as python packages.

[2020-04-13 09:23] AlanAboudib commented on #70
Yeah, sorry, I will push a fix for this very shortly. You are right @sachin-101. I am preparing for PyGrid integration.

[2020-04-13 09:48] Nilanshrajput commented on #70
Yup i saw that. Just created a issue for anybody wondering why 404 error is coming.

[2020-04-13 10:20] #70 closed

[2020-04-13 10:27] AlanAboudib commented on #70
Problem fixed

[2020-04-14 22:12] #59 closed

[2020-04-20 07:16] sachin-101 opened #73 "Wrong owner of Doc object"
`text = String("Building SyferText").send(bob)`
`doc_ptr = nlp(text)`
`doc = bob.get_obj(doc_ptr.id_at_location)`
`print(doc.owner)        # <VirtualWorker id:me #objects:0>`

I think doc.owner should be bob, instead of local worker, since the doc resides on bob's machine.

[2020-04-20 08:39] AlanAboudib commented on #73
@sachin-101 can you do another teste where in the __repr__ method, you make the doc object print its owner, then you can see directly its owner by looking at `bob._objects`

I am suspecting that the `get_obj` method itself might be the cause

[2020-04-20 08:51] bicycleman15 commented on #73
@AlanAboudib This is the same problem I messaged you about a few days ago.
![Screenshot 2020-04-04 at 11 34 23 AM](https://user-images.githubusercontent.com/47978882/79733014-1dc01900-8312-11ea-8e68-9aee9c6d10f1.png)

[2020-04-20 09:49] AlanAboudib commented on #73
@justin1121 Thank you, yeah, this is the problem you raised weeks ago. I will check out your PR

[2020-04-20 15:33] #73 closed

[2020-04-21 06:16] bicycleman15 opened #76 "tokenize empty string"
Currently when we try to tokenize an empty string, it throws an error an out of bounds error.
[code]
@Nilanshrajput can you look into this issue as you worked on the tokenizer recently? Maybe create an empty doc in this case.

[2020-04-21 06:26] Nilanshrajput commented on #76
Sure

[2020-04-21 06:59] Nilanshrajput commented on #76
returning empty doc []

[2020-04-21 07:11] bicycleman15 commented on #76
Yes this will work. 👍  Thanks.

[2020-04-27 16:14] Nilanshrajput commented on #62
@bicycleman15  can you add label attribute in spans, it will useful for ner tagging.
each span object can have a string label, for our usecase it will be name of entity for the span.

[2020-04-27 21:42] #76 closed

[2020-05-04 04:40] sachin-101 opened #89 "Get TokenPointer by iterating on a DocPointer"
At times, when we are only dealing with public datasets but residing on different workers (i.e. a **Federated Learning Setup**), I guess we should allow the user to retrieve pointers to tokens (`TokenPointer`) by iterating on the `DocPointer`.
And the `TokenPointer` can allow the user to retrieve the `text` of the corresponding `Token`.

[2020-05-04 06:48] codeboy5 commented on #89
Can I work on this issue?

[2020-05-04 07:19] bicycleman15 commented on #89
Yes go ahead @codeboy5 👍

[2020-05-04 07:21] sachin-101 commented on #89
I think we should wait for @AlanAboudib's views on it. :slightly_smiling_face:

[2020-05-04 07:53] bicycleman15 commented on #89
I agree but we are getting a token text from a Token Pointer in #78 . It makes sense to iterate on them as well. I guess we should wait for it to get merged first then before anyone can work on it.

[2020-05-04 08:40] Nilanshrajput commented on #89
@sachin-101  I don;' think it's really needed currently, Currently you can get a pointer to a tensor of all token vectors, I don't see scenario of someone benefiting from seeing text even for public dataset, you can work with the vectors directly.
It's not really a essential feature we should wait to implement this after permissions are defined in Pysyft,

[2020-05-04 08:44] Nilanshrajput commented on #89
We should not implement a feature with potential vulnerability in privacy when it's not really requires/important. We can do this after public datasets and permissions are defined till then we work considering all of them as private, also if it is public you can probably get the dateset directly on your system. and you can do anything with it.

[2020-05-04 09:42] AlanAboudib opened #90 "Remove garbage_collect_data argument from all __init__ methods of pointers"
At the moment, we want garbage collection to be always active when pointers to Doc, SubPipeline object are  lost.

So each time there is a `garbage_collect_data` in any `__init__` function, this should be removed, in `DocPointer`, `SubPipelinePointer`, and others if exists

[2020-05-04 12:34] AlanAboudib commented on #89
@sachin-101 @bicycleman15 @Nilanshrajput I have been actually think about this issue. I can think of two different views:

1- Nilansh's view. We let the API enforce the privacy as possible as long as no permission layer is available.
2- (PySyft philosophy) We implement functionalities that break the privacy. but, at the same time, gives us a better idea of what our needs in terms of permissions ar

[2020-05-04 13:01] Nilanshrajput commented on #89
Yup, i also thought that if we move towards implement as much privacy as we can as of now, we would be able to partner for real world cases, otherwise if implemented that now in future we will have to update it again if got some real usecase and permission layers are still not developed.

[2020-05-04 13:48] sachin-101 commented on #89
In our **current scenario**, we have already implemented `__getitem__` on `DocPointer` which allows us to get a pointer for a `Token`.
Now, the benefits of implementing `TokenPointer` are huge. Cause it has enabled us to modify and add a lot of features, which are **easy to think and add now** but later on will become very **cumbersome**.

And from a privacy point of view, the only problem (I beli

[2020-05-04 14:49] Nilanshrajput commented on #89
Commenting out method sounds very bad and is not really practical.
One thing, that for most usecases, features for related to tokenpointer and even spanpointer are not essential, what you really need is just docpointer, for any NLP task and our priority should be give users that much functionality now without any big privacy vulnerability that we know of, so SyferText can be used easily, not havin

[2020-05-04 14:59] Nilanshrajput commented on #89
The point is, we should develop SyferText keeping in mind the first priority which is Privacy,
later we can include features which might be usefull at some level for public datasets.

@AlanAboudib @bicycleman15 @sachin-101

[2020-05-05 09:22] devtastic commented on #57
Hi @AlanAboudib

I am late but I would love to work on this one outside of gsoc. Is that still an option?

Regards,
Dev.

[2020-05-05 12:11] AlanAboudib commented on #89
Let's put it that way. If we know why we need SpanPointer and TokenPointer. Like a concrete use case that we can think of we keep it. If we don't we remove them. In this is sense I agree with @Nilanshrajput but also I am willing to listen to @sachin-101 and @bicycleman15 thoughts why they built those features.

I am strongly in favor of building features only if we have a strong idea why we are bu

[2020-05-05 12:22] sachin-101 commented on #89
@AlanAboudib SpanPointer has all the same functionalities as a DocPointer, which are getting SMPC encrypted vectors.. and getting encrypted token vectors. And any other functionalities you can think of DocPointer.

(Although I am in favour of having a parent class for `Doc` and `Span`, and one parent for `DocPointer` and `SpanPointer` as well.)

[2020-05-05 12:25] sachin-101 commented on #89
@AlanAboudib Regarding the TokenPointer, I literally can't think of any specific use case. It was built for consistency and was suggested by you. :upside_down_face:

@bicycleman15 any suggestions?

[2020-05-05 12:32] Nilanshrajput commented on #89
@sachin-101 But we know the usecase for getting vectors from doc pointer, but i don't see any use of getting vectors of Span for any nlp tasks that I can think of

[2020-05-05 12:35] sachin-101 commented on #89
Span is just a section of Doc. What you can do on the whole, you can do on a part. It's more of a design principle.

[2020-05-05 12:38] Nilanshrajput commented on #89
Yup i got that, but thing is you don't use vectors from spans directly for most usecase, even if you can! Talking for any practical usecase!

[2020-05-05 13:48] bicycleman15 commented on #89
There might be case when someone needs sentence embedding as well. In that case, Span Pointer can come useful.

[2020-05-05 13:52] bicycleman15 commented on #89
A simple application of sentence embeddings can be seen in deep averaging networks where people usually use sentence embeddings in sentiment analysis and question answering. In fact sentence embeddings are used to build universal sentence encoders.

[2020-05-05 13:59] bicycleman15 commented on #89
Of course, the same thing can be done with doc pointer too, but then when will use syfertext they will usually pass sentenciser as a pipeline when they want to work with sentences. And naturally they will get back Spans or Span Pointers in the case when dataset is remote. Converting them to Doc pointers will confuse the user as locally they get Spans but now when they work remotely they are gettin

[2020-05-05 14:02] Nilanshrajput commented on #89
@bicycleman15 I think you are right here, although user could hack around with data to pass a sentence to doc, but ya would be better if give that functionality. But there should be know text atriburtes in span pointer.And I am still in favour of removing tokenpointer!

[2020-05-05 14:02] bicycleman15 commented on #89
Regarding Token Pointers, we built them for consistency purposes only. I don't think they have any use case 😅 . So yeah I think they could be removed

[2020-05-05 22:10] pranshurastogi29 commented on #16
hello @dzlab  i am interested in this project i will try to follow your views on how to persieve this task
my kaggle  - https://www.kaggle.com/pranshu29 just incase if you want to see my expertise
will keep on updating you on my progress

[2020-05-07 16:00] #62 closed

[2020-05-07 18:31] bicycleman15 opened #92 "Create a tutorial on spans"
Now that #78 was merged, it would be great if there was some tutorial on its usage.

[2020-05-07 18:35] codeboy5 commented on #92
Can I work on this ? Want to contribute to syfertext and seems like a good first issue

[2020-05-07 20:29] pranshurastogi29 commented on #90
hi i too want to work on this issue so can i joint too

[2020-05-08 19:36] dzlab commented on #16
@pranshurastogi29 sure, feel free to reach out when you have questions here or on slack

[2020-05-10 16:29] sachin-101 commented on #89
Great, so we shall remove the `TokenPointer` from #78 .

[2020-05-10 16:29] #89 closed

[2020-05-11 19:39] codeboy5 commented on #16
Hi @dzlab I am interested in working on this project ? how can I contribute ?

[2020-05-13 12:36] Nilanshrajput opened #96 "PyPi release workflow"
Create an automated release workflow for SyferText using github actions.

[2020-05-13 12:36] Nilanshrajput commented on #92
great @codeboy5  go ahead.

[2020-05-13 12:52] Nilanshrajput opened #97 "Add Functionality for user-defined exceptions in Tokenizer."
Current Tokenizer uses pre-defined exceptions present in 'token_eception.py'.
here's what current `init` looks like :
`class Tokenizer(AbstractObject):
    def __init__(
        self,
        vocab: Union[Vocab, str],
        exceptions=TOKENIZER_EXCEPTIONS,`

we want to update this initialisation and  add user defined custom exceptions in the the original dictionary containing exceptions(`TOKENIZ

[2020-05-13 13:06] AlanAboudib commented on #92
Hi @codeboy5, any news on this tutorial? Do not hesitate if you need any help

[2020-05-13 14:33] sachin-101 commented on #90
Go ahead @pranshurastogi29. It's a good first issue and doesn't require in-depth knowledge of SyferText. Still, if you need any help, DM on slack.

[2020-05-13 17:16] Nilanshrajput opened #99 "Compatibility issue with PySyft future release"
PySyft latest version on github have updated simplifying and detailing (refer serde.py in Pysyft), which is not compatible with SyferText now.

[2020-05-13 17:18] karlhigley commented on #99
Oh no! We're trying to refactor in a direction that makes it possible for SyferText to register its own classes for serialization by PySyft. What did we break?

[2020-05-13 17:21] Nilanshrajput commented on #99
` proto_id = max(list(serde.detailers.keys())) + 1` in SyferText init raises NoneType error, detailers is not accessible in this way now. seems like they have removed global variables

[2020-05-13 17:34] karlhigley commented on #99
Ah, the global is still there, but it's now initialized at the first use of the serialization via `serde.init_global_vars_msgpack()`. Wonder if this can be fixed by calling that method first before extending?

[2020-05-13 17:42] Nilanshrajput commented on #99
yeah i will try this, currently we have pointed syft to pypi latest release.

[2020-05-13 22:34] AlanAboudib commented on #99
@karlhigley yeah, whenever you implement registeration in PySyft, we will move to using that. This will avoid such compatibility issues.

[2020-05-13 23:59] karlhigley commented on #99
@AlanAboudib We're working on it now. (Really, @tudorcebere is working on it, and I think he has a prototype already.)

[2020-05-14 11:53] codeboy5 commented on #92
Hi @AlanAboudib working on it, will open a PR soon

[2020-05-14 14:59] AlanAboudib commented on #99
@karlhigley great to know, I should watch that PR if one is there already

[2020-05-14 15:24] karlhigley commented on #99
Looks like it's posted now: OpenMined/PySyft#3530

[2020-05-14 19:30] dzlab commented on #16
@codeboy5 read the issue description to get started.

[2020-05-15 15:52] Nilanshrajput opened #100 "Replace Numpy arrays by torch tensors"
At some places for vectors and some operations numpy is used and at other torch, and numpy array might break some excepted behaviour we need to remove use of numpy from SyferText and uses torch and torch tensors instead.

[2020-05-15 15:55] sachin-101 commented on #100
Yups, numpy isn't supported by PySyft yet. We can move all numpy vectors to torch tensors.

[2020-05-15 16:28] Nilanshrajput opened #101 "Add functionality for building vocab."
Build vocab for a given dataset.

build vocab from an iterator over strings of data
add functions to get all vectors loaded from dataset (important for assigning weight to embedding layer) .

[2020-05-15 16:58] AlanAboudib commented on #100
@Nilanshrajput can you include some examples?

[2020-05-15 16:59] AlanAboudib commented on #101
I am not sure to understand the issue @Nilanshrajput, what do you mean by:

[2020-05-15 17:20] Nilanshrajput commented on #101
Acutualy this example is wrong, label vocab doesn't mean anything(it's just  tag map)
The issue is for building Vocab over the given corpus(word embeddings of custom size),
in nn.Embedding(input_dim, embedding_dim) layer you can replace the intial weights with the pre-trained vectors. Also its good to keep the input_dim = numbers of unique strings in corpus instead of some random number.
for getti

[2020-05-15 17:29] Nilanshrajput commented on #100
`    default_vector = np.zeros(vectors.shape[1], dtype=vectors.dtype)

    return vectors, default_vector`
this is from syfertext_en_core_web_lg . but earlier it was in vectors.py we use numpy for default vectors and i think the vectors are also numpy array instead of torch.tensor.

[2020-05-16 22:47] codeboy5 commented on #92
Hey I have added almost all the features of the span method in the tutorial ?
There was just one confusion should I present them as practical use cases or just some small example demonstrating the functionality ?
Thanks

[2020-05-17 04:52] bicycleman15 commented on #92
if you can think of a use case then its great other wise it fine I think @codeboy5

[2020-05-18 00:24] AlanAboudib commented on #101
@Nilanshrajput Good point. This is closely related to what @sachin-101 is working on. Building a cross-worker vocabulary and giving each token an index in this vocabulary. Basically, we consider that token indexes are private. Thus, the embedding layer should be located on the same worker as the dataset.

Then we can raise the following the question: is  the vocabulary iteself private? I think the

[2020-05-18 20:53] AlanAboudib opened #102 "Remove get_encrypted_tokens() method from Doc"
I think this method should be remove @Nilanshrajput since it allows for token-level frequency attacks that would reveal information  about the corpus.

[2020-05-18 20:58] Nilanshrajput commented on #102
Can you explain "token-level frequency attacks"?

[2020-05-18 21:16] AlanAboudib commented on #102
Basically, by analyzing the frequency of each token's code, for 1-grams, 2-grams, ..., N-grams, some info could be possibly retrieved in some cases. Though, it would be very difficult to retrieve the exact text. But we are still introducing a vulnerability. Check out this discussion just for an idea of what a frequency attack is

https://crypto.stackexchange.com/questions/18500/how-feasible-is-wor

[2020-05-18 22:21] Nilanshrajput commented on #102
I might be wrong here but I don't think a frequency attack is possible, as I understand you can talk about such attacks when you have some form of encoded data. But that is not possible here as we dont have the access to the vectors but we just have pointers to them. to be able to get frequency of a token you need to compare it's vector with all other, which we cant really do here.
from just point

[2020-05-19 06:32] sachin-101 commented on #102
Yups, @Nilanshrajput we are returned the pointer to the Shared tensor. So, we can't perform a frequency attack using it.
Also, even if we encrypt the same, document twice using SMPC, we get different encrypted vectors every time. So we can't perform a frequency attack, even on the encrypted vectors (if we happen to get hold of them.)

[2020-05-19 08:46] AlanAboudib commented on #102
You are right guys! My bad. I will close this issue

[2020-05-19 08:46] #102 closed

[2020-05-19 18:04] cereallarceny opened #103 "Create a better Readme"
[Based on this readme template](https://github.com/OpenMined/.github/blob/master/README-TEMPLATE.md), we should improve our readmes across all OpenMined projects.

[Please consult the following document for our desired best practices.](https://docs.google.com/document/d/126smq1Gful_mo-x5Wm1M1UJW9CvB8fT9YYZmamNqk0M/edit?usp=sharing)

[2020-05-19 20:15] AlanAboudib commented on #103
Thank you @cereallarceny . We will work on this. So does that suggest that extra sections are not recommended ?

[2020-05-20 13:33] shashank-m commented on #97
I can take this up

[2020-05-20 14:05] shashank-m commented on #97
Could you give me an example so that I get a clearer picture?

[2020-05-20 15:15] Nilanshrajput commented on #97
Great @shashank-m go for it. Here is a small example

`exception = [{'ORTH': "do"}, {'ORTH': "n't"}]
tokenizer.add_exception("don't", exception`
you need to add this method in Tokenizer. this exception will get added in the 'TOKEN_EXCEPTIONS'. look at the token_exception.py file to get clarity regarding creating these exceptions. Message me on slack if you have any further doubts

[2020-05-20 16:03] shashank-m commented on #97
Yeah sure

[2020-05-20 19:46] cereallarceny commented on #103
@em-blue and the writing team will be in touch with you on this issue.

You can totally have extra sections, but I'd highly suggest you think about the content hierarchy.

[2020-05-20 20:09] em-blue commented on #103
Extra sections are fine! It's more about making sure all the info on that template is there.

[2020-05-20 22:29] AlanAboudib commented on #103
OK great then. We will work on that. Thank you :zap:

[2020-05-21 19:19] Nilanshrajput opened #105 "Create method for simple Tokenizer"
## Description
Create functionality in Tokenizer to do simple space based tokenization!
Its required at some places were it's essential strings don't split while tokenization, like in cases of sequence tagging, there is tag for each string defined we cannot let those strings modified otherwise for new token there might not any tag.

let user pass some argument if he needs simple tokenizer, like To

[2020-05-21 19:33] AlanAboudib commented on #105
This is a good point. Actually our current tokenizer is able to do that if you pass no rules (exceptions and affixes) with:

[code]

But I agree that although we have this functionality, there is no way we can apply it since the API does not allow us to do this.

However, this will be possible after the PyGrid integration PR. I implemented a method for the `Language` class called `set_tokenizer` a

[2020-05-21 19:42] AlanAboudib commented on #3
This issue is no more relevant in the  PyGrid integration context!

[2020-05-21 19:42] #3 closed

[2020-05-21 20:30] bicycleman15 commented on #105
That's a great idea. In my use case, I kind of need to clean medical texts and just split them about spaces. Passing through the complex tokenizer would cause bottlenecks in such cases where you dont care that much about tokenization, you are just content with basic space splitting.

[2020-05-21 20:41] AlanAboudib commented on #105
I agree. It would be possible with PyGrid integration. Actually, it will be possible to build pipeline in a modular way like:

[code]

[2020-05-22 11:52] kouohhashi opened #106 "ModuleNotFoundError: No module named 'syfertext_en_core_web_lg'"
## Question
**Describe your question in ONE SENTENCE.**
When I tried to run the command ```for token in doc:``` at tutorial "Part 0 - (Getting Started) Local Tokenization",  I got an error, ```No module named 'syfertext_en_core_web_lg'```

Is this because syfertext_en_core_web_lg is not installed properly or en_core_web_lg is not installed properly?

## Screenshots
If applicable, add screenshots t

[2020-05-22 12:15] bicycleman15 commented on #106
hey @kouohhashi did you follow the instructions mentioned in the README ?

[2020-05-22 12:47] kouohhashi commented on #106
When I run "pip uninstall syfertext_en_core_web_lg" to re-install syfertext_en_core_web_lg, it says "WARNING: Skipping syfertext-en-core-web-lg as it is not installed.".

So it seems syfertext_en_core_web_lg was not installed correctly..

I will try to install syfertext_en_core_web_lg again.

Thank you.

[2020-05-22 13:01] kouohhashi commented on #106
It's working after installing syfertext_en_core_web_lg correctly.
Thanks.

[2020-05-22 13:01] #106 closed

[2020-05-22 17:11] Nilanshrajput opened #107 "Add/complete Documentations"
## Where?
Add documentation for `Doc`, `Token`, `vocab` class description as well as for initialisation.

Add documentation for initialisation.: `Language`

[2020-05-22 17:16] AlanAboudib commented on #107
One for code examples, and one in markdown format to go in the /docs folder.

(The `vocab` and `Language` however need to wait since major changes are coming with PyGrid integration)

[2020-05-22 17:59] #105 closed

[2020-05-24 15:19] rajathpatel23 commented on #100
Hi All, I would like to contribute to this. I am new to open source, and on Slack channel would like your guidance to get started on this issue.

[2020-05-24 16:18] Nilanshrajput commented on #100
Great @rajathpatel23  join SyferText slack channel and you can ask any doubt there, for this issue i will advice you to go through all files and check for import of numpy and it's subsequent usage there and replace it with torch tensor.

[2020-05-24 17:38] rajathpatel23 commented on #100
Sure, I will go through it and post any questions or updates in the slack channel.

[2020-05-27 02:47] rajathpatel23 commented on #100
Hi, Can I be assigned the issue ?

[2020-05-27 13:41] rajathpatel23 commented on #100
Thank you @Nilanshrajput

[2020-05-31 11:10] Nilanshrajput commented on #103
@AlanAboudib I will start on this!

[2020-05-31 19:17] #99 closed

[2020-05-31 19:18] AlanAboudib commented on #103
@Nilanshrajput Thank you

[2020-06-01 12:59] bicycleman15 opened #111 "Send `span_id` via a different method in doc"
So currently in `__gettiem__` method of `doc`, the check `self.client_id != self.owner.id` sends a `span_id` to the caller, this might break in the case when a pipeline at a remote place uses `doc[i:j]`, becuase in this case, `span_id` will be returned whereas the pipeline was expecting a `Span` class.

My solution is to introduce a new `getitem_id` method in doc, and then we use this method to re

[2020-06-03 02:48] socd06 opened #112 "SyfterText tutorial: Medical Text Classification"
How to do medical text classification using an encrypted model.

[2020-06-03 02:52] socd06 commented on #112
closing due to error creating it

[2020-06-03 02:52] #112 closed

[2020-06-03 04:44] Nilanshrajput commented on #100
Hey @rajathpatel23  are you still working on this, ping me on slack if you have any doubts.

[2020-06-03 15:23] rajathpatel23 commented on #100
hi @Nilanshrajput  yes I am still working on it. Apologies for the delay, will try to finish it this week

[2020-06-03 15:40] Nilanshrajput commented on #100
Hey @rajathpatel23 no problem, i was just checking if you were stuck, thanks for contributing:)

[2020-06-04 05:58] sachin-101 commented on #111
Based on our current implementation, the **pipeline is sent** to the machine where the doc resides. So, it will be returned a `Span`. Is this what you are trying to do?

[2020-06-04 06:33] bicycleman15 commented on #111
Yeah currently a `span_id` is returned, instead a `Span` should be returned to the pipeline.

[2020-06-04 07:41] sachin-101 commented on #111
Are the pipeline and the doc on the same machine?
If not, then send the pipeline to the remote machine where the doc resides.
If yes, then `Span` should be returned. If `span_id` is returned then there is some issue :fearful: .

[2020-06-04 09:18] AlanAboudib commented on #111
@bicycleman15 @sachin-101 in my opinion, it is the responsibility of the remote pipe to know how to handle `span_id`. For instance, if it turns out that there would be cases were a `Matcher` is not allowed to be sent to the remote worker, then we should enable the Matcher to handle this case by operating on span_id through a span pointer

[2020-06-05 14:00] #68 closed

[2020-06-07 07:37] bicycleman15 commented on #111
I will take this :+1:

[2020-06-08 17:16] neelabh17 commented on #92
Are you still working on this @codeboy5 ? Can I take this?

[2020-06-09 12:09] AlanAboudib commented on #101
@Nilanshrajput I will close this since @sachin-101 work on PSI address part of this issue. Also, I think that this is a family of issues not a single issue. It will become clearer when we start implementing different model types.

[2020-06-09 12:09] #101 closed

[2020-06-09 12:11] AlanAboudib commented on #69
Any updates on this @sachin-101 ?

[2020-06-09 12:12] #22 closed

[2020-06-09 12:14] AlanAboudib commented on #16
I am closing all GSOC issues. Any contribution should be push directly as PR

[2020-06-09 12:14] #16 closed

[2020-06-09 12:14] AlanAboudib commented on #57
I am closing all GSOC issues. Any contribution should be push directly as PR

[2020-06-09 12:14] #57 closed

[2020-06-09 12:14] AlanAboudib commented on #23
I am closing all GSOC issues. Any contribution should be push directly as PR

[2020-06-09 12:14] #23 closed

[2020-06-09 14:21] sachin-101 commented on #69
Yups. I added the exception in #49.

[2020-06-14 21:41] AlanAboudib commented on #107
I think this issue should be closed. one issue per documentation is way easier to get a handle on.

[2020-06-14 21:41] #107 closed

[2020-06-14 21:42] AlanAboudib commented on #69
Thank you @sachin-101

[2020-06-14 21:42] #69 closed

[2020-06-16 20:16] tcp opened #119 "Add support Slack channel links to main readme file"
## Where?
Main readme

## Who?
All contributors

## What?
Users of this library should have a good idea of where to get support within Slack so that the general channel does not become a place for people dropping software implementation problems. Please add the following section somewhere in your readme:

[code]

When finished, it should look exactly as it does here: https://github.com/OpenMined/.

[2020-06-17 15:38] EpcLoler opened #120 "SyferText en_core_web_lg vs spaCy en_core_web_lg"
## Question
How different is the en_core_web_lg between SyferText and spaCy?

## Further Information
This link (https://github.com/OpenMined/SyferText/blob/master/tutorials/Part%200%20-%20(Getting%20Started)%20Local%20Tokenization.ipynb) explicitly tells that SyferText's en_core_web_lg  is a simplified model of spaCy's en_core_web_lg. Some detail regarding this simplification in the readme or in t

[2020-06-17 15:54] AlanAboudib commented on #120
Hi @EpcLoler syfertext's model takes only the vector from that of spacy, but it does not include any other components such as 'parsers', NE recognizers or the like.

We are currently working on migrating SyferText to PyGrid, which should be ready soon. Then we will be able to add other language models. You will be welcome to work on this once PyGrid integration is ready in a few weeks

[2020-06-17 16:02] EpcLoler commented on #120
Thank for the quick response @AlanAboudib!

[2020-06-17 16:02] #120 closed

[2020-06-27 12:44] ShivamSRS commented on #4
i am confused by this issue. Do you want to add new language models like bert, gpt or xlnet? if so i am interested in implementing them

[2020-06-27 16:45] #119 closed

[2020-06-28 08:11] AlanAboudib opened #130 "All contributors are not correctly showing in readme"
## Description

All contributors are not correctly showing in readme
![err](https://user-images.githubusercontent.com/11991643/85942309-b7b2cc00-b928-11ea-813c-ed7a1a78b0c9.png)

[2020-06-28 08:30] AlanAboudib commented on #4
Hi @ShivamSRS thank you for your interest. Adding language model here is in the sense of adding other models than `en_core_web_lg` that we are currently using. This issue was addressed by @sachin-101 in the PR #35 but now it is put on hold waiting for the merge of the PyGrid integration Epic I am working on here #93

I am working on the merge now. After I do, MUCH work will be needed to add such l

[2020-06-28 08:56] #130 closed

[2020-07-01 07:16] ramesht007 commented on #100
Hi, can i work on this issue?

[2020-07-01 11:36] #96 closed

[2020-07-05 16:24] AlanAboudib opened #133 "Update Readme"
In the **installation** part of the readme, the `git-lfs` and `syfertext_en_core_web_lg` installation guides should be removed since language models in v0.1.0 will be deployed on PyGrid and loaded by a simple call to `syfertext.load()` without the need to download any language model packages beforehand.

## Where to push your PR?

Any PR referencing this issue should be made to branch `syfertext_0

[2020-07-05 16:56] AlanAboudib opened #134 "Implement secure label delivery for `Doc` via `DocPointer`"
## Context

When a PySyft classifier is deployed within a SyferText pipeline, and used for inference in SMPC model, on a remote string.

## Problem

The predicted label in this case is a PySyft `AdditiveSharedTensor  (AST)` that only the concerned worker (the data owner) has the right to decrypt, aka, call the `.get()` method on the AST vector.

## Details

In order to do this, the output predicti

[2020-07-05 17:10] AlanAboudib opened #135 "Secure delivery of predicted document classes"
## Context
When a PySyft classifier is deployed within a SyferText pipeline, and used for inference in SMPC model, on a remote string.

## Problem
The predicted label in this case is a PySyft `AdditiveSharedTensor  (AST)` that only the concerned worker (the data owner) has the right to decrypt, aka, call the `.get()` method on the AST vector.

In order to do this, the output prediction should be s

[2020-07-05 17:35] AlanAboudib opened #136 "Create `SingleLabelClassifier` class"
An object of this class could be called with `Doc` or `DocPointer` and a `DocEncoder` (described in #137 ) as inputs, and predicts a single class using a PySyft single class classifier. If in MPC mode, this object should securely deliver the predicted class to a `Doc` object using the `set_predicted_classs()` method explained in #134

We should be able to deploy this class objects as part of a Syf

[2020-07-05 17:44] AlanAboudib opened #137 "Implement a `AverageDocEncoder` class"
An object of a SyferText classifier class, such a `SinglLabelClassifier` described in #136 is supposed to take a `Doc` or `DocPointer` as inputs when called. The `DocEncoder` object it also takes, takes that `Doc` or `DocPointer` object and produces the input tensor required by the underlying PySyft classifier.

The `DocEncoder` class should be implemented as an abstract class.

A `AverageDocEncod

[2020-07-05 18:14] AlanAboudib opened #138 "Add the `key2row` and `vectors` arguments to `set_vocab`"
The `Language` class has  a method called `set_vocab()`. This method is used to add a `Vocab` object to a pipeline. However, the implementation of this method is not complete, since it does not enable us to pass the `key2row` and `vectors` arguments that `Vocab` constructor can take.

Please add these argument and test it locally as well as on remote workers.

## Where to push your PR?

Any PR ref

[2020-07-05 18:30] AlanAboudib opened #139 "Update version in setup.py"
Please update the version entry in `setup.py` to 0.1.0

## Where to push your PR?

Any PR referencing this issue should be made to branch `syfertext_0.1.0`

[2020-07-05 18:33] AlanAboudib opened #140 "Merge `master` into `syfertext_0.1.0`"
## Where to push your PR?

Any PR referencing this issue should be made to branch `syfertext_0.1.0`

[2020-07-05 19:08] #90 closed

[2020-07-06 17:33] AlanAboudib opened #141 "PyGrid preparation"
## Context

SyferText 0.1.0 is meant to work with PyGrid by default. This means that all pipelines are deployed to PyGrid by default when `Language.deploy()` is called. And all pipelines are loaded from PyGrid by default when `syfertext.load(<language_model_name>)` is called.

In previous versions of SyferText, language models had to be hosted and downloaded as separate packages (like in spaCy), p

[2020-07-06 17:39] Nilanshrajput commented on #141
@AlanAboudib  I would like to work on this.

[2020-07-06 17:51] AlanAboudib opened #142 "Adapt tests to a locally created language model"
Currently, in SyferText < v0.1.0 , all tests use an experimental language model called `en_core_web_lg` that is adpated from spaCy's language model with the same name.

However, in SyferText v0.1.0, all language models will be hosted on PyGrid. Creating a PyGrid in AWS and hosting models on it might take some time, since we might have some technical issues in PyGrid.

In order to make tests functi

[2020-07-06 17:52] AlanAboudib commented on #141
It's yours @Nilanshrajput

[2020-07-06 17:58] AlanAboudib opened #143 "Problem with `SubPipeline` creation with limited-access components"
## Description

* TBD soon * by @AlanAboudib

## How to Reproduce
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected Behavior
A clear and concise description of what you expected to happen.

## Screenshots
If applicable, add screenshots to help explain your problem.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. Python 3

[2020-07-07 07:28] bicycleman15 commented on #135
This kind off aligns to the project I'm currently doing

[2020-07-07 09:43] AlanAboudib commented on #134
@bicycleman15 I suggest you work on this issue separately (Not include it in your GSoC PR)

[2020-07-08 14:44] ramesht007 commented on #139
hello, @AlanAboudib can go for this issue

[2020-07-08 15:07] ramesht007 commented on #142
Hey, @AlanAboudib  I would like to work on this issue

[2020-07-08 16:06] AlanAboudib commented on #139
Sure, go ahead @ramesht007

[2020-07-08 16:08] AlanAboudib commented on #142
Go ahead @ramesht007 , this issue is dependent on #138 which I am working on, but you can totally start working on it. I will make sure to solve my issue ASAP

[2020-07-13 11:00] #139 closed

[2020-07-13 12:42] hershd23 commented on #138
Hi, is the issue still open? Can I work on this?

[2020-07-13 13:58] Nilanshrajput opened #147 "Point syft version to Master branch of PySyft"
## Description
point syft requirement to master branch of PySyft.

## Are you interested in working on this improvement yourself?
- Yes, I am.

## Additional Context
Will be required for syfertext_0.1.0

[2020-07-13 16:13] Nilanshrajput opened #148 "Enforcing type checking in SyferText"
## What?
Enforcing type checking in SyferText by requiring & enforcing type hints using a decorator.
We can cheat from Great work by @tudorcebere .
https://github.com/OpenMined/PySyft/blob/syft_0.3.0/src/syft/typecheck/typecheck.py

## Additional Context
For syfertext_0.1.0

## Where to push your PR?

Any PR referencing this issue should be made to branch `syfertext_0.1.0`

[2020-07-13 16:17] hershd23 commented on #148
Seems cool. Can I work on this?

[2020-07-13 16:17] Nilanshrajput commented on #148
Sure @hershd23 go ahead!

[2020-07-13 20:13] #147 closed

[2020-07-13 20:41] #138 closed

[2020-07-13 20:42] AlanAboudib commented on #138
@hershd23 I had already started working on this issue. More issues are there in the list, you can check them out, and more are coming soon :)

[2020-07-13 20:46] #133 closed

[2020-07-15 20:25] AlanAboudib opened #152 "Remove __len__ from SpanPointer and DocPointer"
## Description
Since I think it is still a security breach.

Unless we figure out  really critical use cases that needs `__len__` on those classes, No need to leak any information about the dataset.

[2020-07-15 20:26] AlanAboudib commented on #152
@bicycleman15 @Nilanshrajput @sachin-101 thoughts?

[2020-07-16 07:41] bicycleman15 commented on #152
I agree we should remove these methods, even though they don't reveal the entire text. We are still under development and don't know how these are going to play a role in a use case later down the line, so it's better not to have them at all for now for maximum privacy.
We added those features because we thought they could be useful but didn't think of something concrete. Let's not have them at al

[2020-07-16 11:04] AlanAboudib commented on #152
@bicycleman15 We are on the same page :+1: In order to enable testing, we have to introduce another mechanism that we should discuss Friday

[2020-07-18 21:28] praveenjoshi01 commented on #136
I will be happy to work on this. Are there any dependencies over some other components that are getting built-in parallel?

[2020-07-20 09:47] AlanAboudib commented on #136
Hi @praveenjoshi01 , I suggest you start working on this #137 issue which is a dependency of this issue

[2020-07-20 09:49] AlanAboudib commented on #97
Any PR of this Issue should be merged to branch syfertext_0.1.0

[2020-07-20 09:51] AlanAboudib commented on #26
@MarcioPorto Can you look back into this issue (PR #39)

[2020-07-20 09:52] AlanAboudib commented on #4
I will close this issue. We will deal with adding language models when syfertext 0.1.0 is released

[2020-07-20 09:52] #4 closed

[2020-07-20 09:53] AlanAboudib commented on #103
@Nilanshrajput any news?

[2020-07-20 10:13] praveenjoshi01 commented on #137
Looks good, can you please assign it to me? Also, yesterday I was facing issues while installation of syfertext. I tried to checkout the dev branch too 0.1.0 to resolve it but still, something looks wrong. It will be great if you can help me a bit to set up and then I will take it forward from there.

[2020-07-21 23:13] #103 closed

[2020-08-10 09:46] AlanAboudib opened #157 "Adape `SimpleTagger` to remote execution"
## Feature Description
In order for `SimpleTagger` to operate remotely, we need to implement the `load_state()` and `dump_state()` methods.

Examples on how to implement these methods could be found in `Tokenizer` and `Vocab` classes.

## Where to push your PR?

Any PR referencing this issue should be made to branch `syfertext_0.1.0`

[2020-08-10 10:47] ramesht007 commented on #157
hey, @AlanAboudib I would like to work on this
Thanks

[2020-08-10 10:51] AlanAboudib commented on #157
Go ahead Ramesht

[2020-08-10 15:35] PyAgni commented on #152
@AlanAboudib I'm interested in taking this issue. Is this up for grabs?

[2020-08-10 18:55] someshsingh22 commented on #97
Can I work on this if it is still incomplete? @Nilanshrajput

[2020-08-10 18:57] Nilanshrajput commented on #97
@AlanAboudib I think this is already Solve in 0.1 should probably close the issue?

[2020-08-11 11:38] AlanAboudib commented on #152
Sure @PyAgni go ahead

[2020-09-08 17:46] AlanAboudib commented on #140
Done in #163

[2020-09-08 17:46] #140 closed

[2020-09-08 17:47] AlanAboudib commented on #157
Done by @ramesht007 in #163

[2020-09-08 17:47] #157 closed

[2020-09-08 17:56] AlanAboudib commented on #142
Done by @ramesht007 and verified  by @Nilanshrajput in #163

[2020-09-08 17:56] #142 closed

[2020-09-10 14:59] hershd23 opened #165 "Proof Read the SyferText documentation"
## Where?
The documentation is currently hosted at :-  https://syfertext.readthedocs.io/en/syfertext_0.1.0/index.html

## What?
Proof read the documentation and point out the errors in docs (grammatical, formatting etc.) and provide any fixes for them if possible

[2020-09-10 22:03] AlanAboudib commented on #26
Done in #164

[2020-09-10 22:03] #26 closed

[2020-09-11 05:20] duggalsu commented on #152
Hi @AlanAboudib , I would like you take this up is still available

[2020-09-11 05:22] duggalsu commented on #100
Hi @Nilanshrajput , I would like to work on this if still available

[2020-09-11 15:29] Nilanshrajput commented on #100
hey, @duggalsu  this is actually resolved in #132, I forgot to close this issue, thanks for reaching out.

[2020-09-11 15:29] #100 closed

[2020-09-11 15:31] Nilanshrajput commented on #97
solved in SyferText v0.1.0 branch

[2020-09-11 15:31] #97 closed

[2020-09-11 15:37] Nilanshrajput commented on #152
go ahead @duggalsu (make your pr for syfertext_0.1.0 branch)

[2020-09-11 17:40] darshan-gandhi commented on #165
Hi @hershd23 @Nilanshrajput  could I take up this and work on it?
Thank you. Look forward to your word.

[2020-09-11 18:35] Nilanshrajput commented on #165
Great @darshan-gandhi go ahead!

[2020-09-11 18:39] darshan-gandhi commented on #165
Thanks @Nilanshrajput

[2020-09-12 08:40] hershd23 commented on #165
Ping me on @darshan-gandhi if you have any issues with setting up sphinx locally. For any such error, you can try and play around with the docstring in that file and see if that error gets resolved as we currently read the docstrings in the code to generate documentation. I don't think you'll need to go much into sphinx apart from setting it up and running it locally. Any other suggestions @Nilans

[2020-09-12 09:18] darshan-gandhi commented on #165
Thanks @hershd23 ,sounds good. I'll drop you a message on Slack for the same.

[2020-09-12 09:45] darigovresearch opened #167 "Missing parenthesis in the introductory paragraph of the readme"
## Where?
In the readme

## Who?
Everyone

## What?
Missing parenthesis in the introductory paragraph of the readme

## Additional Context
Pull request #166 would resolve this issue

[2020-09-12 21:59] Nilanshrajput commented on #167
solved in #166

[2020-09-12 21:59] #167 closed

[2020-09-12 22:47] darigovresearch opened #169 "Add contributing guidelines"
## Where?
Section in the readme & a contributing.md file

## Who?
New users and specifically people who want to make pull requests to the repository

## What?
To help guide people who are making contributions to the repository. Specifically to also highlight the fact that this project uses `black` and how it needs to be used in order to pass the automatic tests. This issue was encountered during p

[2020-09-13 07:58] #134 closed

[2020-09-13 07:58] #135 closed

[2020-09-13 07:58] #136 closed

[2020-09-13 07:58] #137 closed

[2020-09-13 15:02] darigovresearch opened #171 "Adding relevent requirements.txt files"
## Feature Description
Have a relevant requirements.txt file containing all the dependencies to use or build on SyfterText. This would help resolve some issues with issue number #170

## Is your feature request related to a problem?
Hard to get started with using the project or making a contribution without the required python libraries installed

## What alternatives have you considered?
Not sure

[2020-09-20 20:34] darigovresearch opened #176 "Dependencies Issue when running Part 0 notebook"
## Description
Error running Part 0 notebook of `syfertext_0.1.0` branch. Created a virtual environment, followed the installation instructions & wanted to test if the notebooks run as advertised. Got a dependency error when trying to install the 1st library in the notebook

## How to Reproduce
1. Create a blank virtual environment
2. Follow Installation Instructions
3. Run `pip install syft`
4. S

[2020-09-20 20:36] darigovresearch commented on #171
Pull request #175 would resolve the 1st item in the list

[2020-09-23 17:42] AlanAboudib opened #177 "Add tests for Pipeline parsing"
## Description
A clear and concise description of what you want to test.

## Type of Test
- [ ] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [ ] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a module of code allows other systems to continu

[2020-09-24 12:56] AlanAboudib opened #179 "Add tests for remote inference with SingleLabelClassifier"
## Description
A clear and concise description of what you want to test.

## Type of Test
- [ ] **Unit test** (e.g. checking a loop, method, or function is working as intended)
- [ ] **Integration test** (e.g. checking if a certain group or set of functionality is working as intended)
- [ ] **Regression test** (e.g. checking if by adding or removing a module of code allows other systems to continu

[2020-09-24 13:06] AlanAboudib commented on #143
Solved in #178

[2020-09-24 13:06] #143 closed

[2020-09-24 13:07] AlanAboudib commented on #141
Should we close this @Nilanshrajput It is done right?

[2020-09-24 13:17] Nilanshrajput commented on #141
Let merge the latest pr and i will close this after that.

[2020-09-24 15:12] bicycleman15 commented on #177
I can pick this up if it's okay. This would give me a good overall understanding of the additions that have been made recently. @AlanAboudib

[2020-09-25 03:00] AlanAboudib opened #182 "Bug in tokenization when specifying the tokenizer infixes"
## Description
Here is a weird bug

## How to Reproduce
[code]

## Expected Behavior
Tokenization shouldn't produce an error

[2020-09-25 03:08] AlanAboudib commented on #177
Good idea @bicycleman15

[2020-10-02 07:17] Nilanshrajput commented on #182
its only coming with '.' this matches with each aplhabets,

[2020-10-02 12:25] Nilanshrajput commented on #182
@AlanAboudib  you need to use like this
[code]

[2020-10-02 12:27] Nilanshrajput commented on #182
Although this error shouldn't come even with this usage, it should tokenize every letter separately. I am looking into it

[2020-10-06 09:33] Nilanshrajput commented on #152
done in #183

[2020-10-06 09:34] #152 closed

[2020-10-09 16:17] AlanAboudib opened #187 "pipeline local caching"
## Feature Description
When a pipeline is loaded from PyGrid, we should be able to save the states of the pipe component to which the local worker has access to.

Saving can be done on a call to `nlp.save(destination = 'local')` or `nlp.save()` which consider `destination = 'local'` as the default.

The reason we introduce the `destination` argument is that I think would will need other data lake

[2020-10-09 16:27] AlanAboudib opened #188 "list available pipelines on PyGrid"
## Feature Description
We should be able to get a list of pipelines deployed on PyGrid.

The call could be `syfertext.list(name_regex = '<regex>')`

The result could be a list of dictionaries each describing one pipeline. Such a dictionary could have keys such as 'name', 'pipe_names', 'description', 'tags', 'version', 'timestamp'.

The `name_regex` argument should be used to list only pipe lines w

[2020-10-09 17:55] hershd23 commented on #187
Hi Alan, I had already started some work on this, but was later notified by Nilansh that the PyGrid nodes weren't working properly, so I dropped it temporarily. I'd like to take this one again

[2020-10-10 06:10] AlanAboudib commented on #187
It is yours @hershd23

[2020-10-11 11:48] hershd23 commented on #187
@AlanAboudib , @Nilanshrajput I have already used pickle and dill and they both throw an error as to that the pipeline object is of a type they can't save. Any fixes?

[2020-10-11 12:18] Nilanshrajput commented on #187
@hershd23  check the simplify function, save what that function returns and while loading  use its detail function for each object that you are trying to save.

[2020-10-12 10:28] AlanAboudib commented on #187
@hershd23 the `Pipeline` object does not contain the states of the individual pipes. you should cache it in the same way it is deployed. simplified `Pipeline` object + simplified `State` objects belonging to that pipeline. If the local worker does not have necessary permissions to download the state (due to restricted `access` property of the `State` object) then that state is not cached

[2020-10-16 09:52] j-chim commented on #179
Hi, new mentee here. I recently completed the udacity course and the series of OpenMined related tutorials, and am hoping to start working on my first issue.

Is this still available? If it is I'd love to work on it. Thanks!

[2020-10-16 10:39] bicycleman15 commented on #179
sure go ahead @j-chim 👍

[2020-10-16 11:50] j-chim commented on #179
thanks @bicycleman15. if I have questions can I ping you on slack?

[2020-10-16 13:35] bicycleman15 commented on #179
sure. its `@jatin` on slack.

[2020-11-15 14:04] #179 closed

[2021-01-04 09:19] Praful932 commented on #92
Hello, Seems like a good first issue, Can I work on it?

[2021-01-04 09:42] bicycleman15 commented on #92
@Praful932 Sure, go ahead. 👍

[2021-01-04 10:14] neelabh17 commented on #92
Awesome @bicycleman15

[2021-01-04 10:41] Praful932 commented on #92
@bicycleman15 I'll start working on it. I have a few doubts to how the tutorial should exactly be
Should it be similar to the available tutorials like this [one](https://github.com/OpenMined/SyferText/blob/master/tutorials/Part%200%20-%20(Getting%20Started)%20Local%20Tokenization.ipynb)?
Also if I have a doubt, should I ping you here or slack

Thanks

[2021-01-04 11:05] bicycleman15 commented on #92
@Praful932 can u contact me on slack ? its `@jatin` there.

[2021-01-11 05:59] gigatesseract commented on #92
Hi, I'd like to take it up and work on it.Where can I find the URL of slack workspace?

[2021-01-21 21:34] #92 closed

[2021-01-21 21:34] #111 closed

[2021-01-21 21:34] #141 closed

[2021-01-21 21:34] #148 closed

[2021-01-21 21:34] #165 closed

[2021-01-21 21:34] #169 closed

[2021-01-21 21:34] #171 closed

[2021-01-21 21:34] #176 closed

[2021-01-21 21:34] #182 closed

[2021-01-21 21:34] #187 closed

[2021-01-21 21:34] #188 closed

[2021-01-21 21:35] #177 closed

[2021-02-24 13:21] anilnishad19799 opened #201 "Installation Error"
I want to secure my nlp model while deploying in on-device , that i have build in spacy.

installation steps that i follows :
git clone https://github.com/OpenMined/SyferText.git
cd SyferText
python setup.py install

## System Information
 - OS: Windows

## Error
[code]

kindly give me suggestion to protect my spacy model on-device deployment , and please resolve my error.

[2021-03-12 04:49] karynaur commented on #201
There was a small issue with the syft version in setup.py. I have made the necessary changes(form syft==0.4.0 to 0.3.0) and it works fine on colab. PR #202

[2021-03-17 05:24] Kevin-Lakhani opened #203 "Error"
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-1-44770bd007ea> in <module>
----> 1 import syft

c:\users\dell\appdata\local\programs\python\python38\lib\site-packages\syft-0.3.0-py3.8.egg\syft\__init__.py in <module>
     59 from syft.core.common.serde.serialize import _serialize

[2021-03-17 11:13] Param-29 commented on #203
@Kevin-Lakhani I believe the version you are using for `torch` is not compatible with the `syft` version.
This could be solved by downgrading torch version.
`pip install torch==1.7.0`

*PS: This would be taken care in new version of `syft`. ([PR that fixed the issue](https://github.com/OpenMined/PySyft/pull/5265)).*

[2021-03-17 11:30] Kevin-Lakhani commented on #203
Thanks for the insight Param if i down grade the torch version it will
still not work. For example if i import syft.generic.string it will show an
attribute error saying no object string.generic.

On Wed, 17 Mar 2021 at 4:43 PM, Param Mirani ***@***.***>
wrote:

--
Sent from IPhone 11 pro

[2021-03-17 11:56] Param-29 commented on #203
I am not sure I understand the error and the code which is creating it. It would be helpful if you could add the following in comments

1. Torch Version
2. Syft version
3. code
4. Error

[2021-03-17 12:00] Kevin-Lakhani commented on #203
Syft version(0.3.0)
Torch(1.7.1)
Param after reading some other issues i downgraded and installed torch
1.7.1 now i am able to import syft. But when I import syft.generic.string
as string it shows an error.
On Wed, 17 Mar 2021 at 5:26 PM, Param Mirani ***@***.***>
wrote:

--
Sent from IPhone 11 pro

[2021-03-17 12:13] Param-29 commented on #203
I believe you are referring to documentation of an older version (0.2-)

You can import string class like this
[code]

Let me know if this solved the import issue

[2021-03-18 10:01] Kevin-Lakhani commented on #203
Hello Param,
Thanks for your help i was able to resolve the issue. Can you help me to
find the documentation of Pysyft(0.3.0). Also can you resolve this issue
hook=syft.TorchHook(torch)
The error says
No attribute TorchHook. Help me locate it.
Thanking you for your valuable time.
Kevin

On Wed, 17 Mar 2021 at 5:44 PM, Param Mirani ***@***.***>
wrote:

--
Sent from IPhone 11 pro

[2021-03-18 10:45] Param-29 commented on #203
[Latest documentation for syft](https://pysyft.readthedocs.io/en/latest/index.html#)

As mentioned [here](https://github.com/OpenMined/PySyft/issues/4820) we no longer need to Hook libraries like `torch`, so for versions 0.3+, I believe you could remove the line and code would work fine.

You can also see examples present in the repo ([example](https://github.com/OpenMined/PySyft/blob/dev/examples

[2021-03-18 18:25] Kevin-Lakhani opened #207 "Can i get access to syfertext 0.1.0"
## Question
**Describe your question in ONE SENTENCE.**

## Further Information
Describe your question in greater length here.

## Screenshots
If applicable, add screenshots to help explain your question.

## System Information
 - OS: [e.g. iOS]
 - OS Version: [e.g. 22]
 - Language Version: [e.g. Python 3.7, Node 10.18.1]
 - Package Manager Version: [e.g. Conda 4.6.1, NPM 6.14.1]

## Additional Co

[2021-04-05 16:24] AlanAboudib commented on #207
Dear @Kevin-Lakhani, unfortunately, the previous version 0.1.0 was deprecated and support was removed before the version was completely refined. This was due to a complete reboot in PySyft that necessitated new efforts from the team.

What is your need for 0.1.0?

[2021-04-05 16:26] AlanAboudib commented on #203
@Param-29 @Kevin-Lakhani the setup script is currently being updated. This SyferText version is supposed to work with Syft's Dev branch. We are working on the script. But you can still use SyferText if you just install Syft's Dev branch.

[2021-04-05 16:26] #203 closed

[2021-04-08 15:38] #207 closed

[2021-04-25 11:11] Bhuvan-21 commented on #201
Thanks a lot, I faced the same issue it works with the changes you have made here.

[2021-04-25 11:40] Bhuvan-21 opened #210 "Module not found after succesful installation"
[##]([url](url)) Description
Modules not found after instalation

## How to Reproduce
Code given

## Screenshots
![Screenshot from 2021-04-25 17-07-09](https://user-images.githubusercontent.com/51778760/115992052-3af48b00-a5e9-11eb-9e0f-3d8f080a6a0b.png)

## System Information
 - OS: Ubuntu
 - OS Version: 20

[2021-05-22 19:39] AlanAboudib commented on #210
Solved by #211

[2021-05-22 19:39] #210 closed

[2021-05-22 19:40] AlanAboudib commented on #201
solved in #211

[2021-05-22 19:40] #201 closed